<div  class="block_text-img">
  <div class="item_text">
    <h2 id="billiard">
      <span class="highlight">ПРОФЕССИОНАЛЬНЫЙ</span>
      ТУРНИРНЫЙ СТОЛ 12FT
    </h2>
    <div class="flex items-baseline text-gray-900 dark:text-white">
      <span class="text-3xl font-semibold">от</span>
      <span class="text-5xl font-extrabold tracking-tight">&nbsp; 100</span>
      <span class="ml-1 text-xl font-normal text-gray-500 dark:text-gray-400"
        >рублей/час</span
      >
    </div>

    <ul role="list">
      <li>
        <i class="fas fa-check-circle"></i>
        <span> Профессиональный турнирный стол</span>
      </li>
      <li>
        <i class="fas fa-check-circle"></i>
        <span>Тренируйся и повышай свои навыки </span>
      </li>
      <li>
        <i class="fas fa-check-circle"></i>
        <span>Готовься к турнирам</span>
      </li>
      <li>
        <i class="fas fa-check-circle"></i>
        <span>Играй с друзьями</span>
      </li>
      <li>
        <i class="fas fa-check-circle"></i>
        <span>Докажи, что ты лучший игрок</span>
      </li>
    </ul>
    <button type="button">
      Забронировать
    </button>
  </div>
  <div class="item_img">
    <img src="/theme/img/slide-3.jpg" alt="" />
  </div>
</div>
