<div class="block_text-img">
  <div class="item_text">
    <h5
      class=" mb-4 text-4xl font-[700] tracking-tight text-gray-900 dark:text-white"
    >
      <span class="relative inline-block z-10 highlight"> 7 ПРИЧИН</span> ПО
      КОТОРЫМ ВАМ
      <span class="relative inline-block z-10 highlight">СТОИТ ПОЙТИ</span> В
      НАШУ САУНУ!
    </h5>
    <div class="flex items-baseline text-gray-900 dark:text-white">
      <span class="text-3xl font-semibold">от</span>
      <span class="text-5xl font-extrabold tracking-tight">&nbsp; 100</span>
      <span class="ml-1 text-xl font-normal text-gray-500 dark:text-gray-400"
        >рублей/час</span
      >
    </div>

    <ul role="list">
      <li>
        <i class="fas fa-check-circle"></i>

        <!-- <i class="fas fa-check-double"></i> 
        <i class="fas fa-check-square"></i> 
        <i class="fas fa-chess-bishop"></i> 
        <i class="fas fa-chess-king"></i> 
        <i class="fas fa-chevron-circle-right"></i> 
        <i class="fas fa-cloud"></i> 
        <i class="fas fa-cloud-meatball"></i> 
        <i class="fas fa-golf-ball"></i> 
        <i class="fas fa-cloud-sun-rain"></i> 
        <i class="fab fa-steam"></i> 
        <i class="fab fa-steam-symbol"></i> 
        <i class="fab fa-steam-square"></i>  -->
        <span>Избавиться от лишнего веса</span>
      </li>
      <li>
        <i class="fas fa-check-circle"></i>
        <span>Набраться сил после тяжелой тренировки</span>
      </li>
      <li>
        <i class="fas fa-check-circle"></i>
        <span>Повысить свой иммунитет Привести в порядок кожу</span>
      </li>
      <!-- <li class="flex space-x-3 line-through decoration-gray-500"> -->
      <li>
        <i class="fas fa-check-circle"></i>
        <span>Оздоровить сердечно-сосудистую систему</span>
      </li>
      <li>
        <i class="fas fa-check-circle"></i>
        <span>Расслабиться и отдохнуть после серых рабочих будней</span>
      </li>
      <li>
        <i class="fas fa-check-circle"></i>
        <span>Избавиться от бессонницы</span>
      </li>

      <li>
        <i class="fas fa-check-circle"></i>
        <span>Улучшить состояние кожи</span>
      </li>
    </ul>

    <button type="button">
      Забронировать
    </button>
  </div>
  <div class="item_img">
    <img src="/theme/img/banj2.jpg" alt="" />
    <a
      href="https://www.youtube.com/watch?v=nXE5uRJV1q0"
      class="absolute inset-0 flex justify-center items-center text-slate-700 hover:text-gray-800"
    >
      <i class="text-8xl fab fa-youtube"></i>
    </a>
  </div>
</div>
