<div
  class="p-4 max-w-md bg-white rounded-lg border shadow-md sm:p-8 dark:bg-gray-800 dark:border-gray-700"
>
  <div class="flex justify-between items-center mb-4">
    <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white">
      БИЛЬЯРД:
    </h5>
   
  </div>
  <div class="flow-root">
    <ul role="list" class="price divide-y divide-gray-200 dark:divide-gray-700">
      <li class="py-1 sm:py-0">
        <div class="flex items-center space-x-4">
          <div class="flex-shrink-0">
            8.00-23.00
          </div>
          
          <div
            class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white"
          >
            350 руб.
          </div>
        </div>
      </li>
      <li class="py-1 sm:py-0">
        <div class="flex items-center space-x-4">
          <div class="flex-shrink-0">
            23.00-8.00
          </div>
          
          <div
            class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white"
          >
            400 руб.
          </div>
        </div>
      </li>
      
    </ul>
    <p>
      Не более 6-ти человек. Далее 50 руб. с человека.
    </p>
  </div>
</div>
