<div class="adv-hor min-h-[196px] flex flex-wrap justify-around items-center gap-6  p-4 bg-dolphinyellow">
	<!-- <div class="adv-hor_image"></div> -->
	<img src="/theme/img/human-group-with-questions-and-doubts-1.png" alt="">
	<div class="adv-hor_text text-xl text-center">
		Любишь бильярд? Забери четвертый час в подарок! (3+1)
	</div>
	<button type="button" class="adv-hor_button text-2xl text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
		<a itemprop="url" href="tel: +79005895222">
		<i class="fas fa-phone-alt mr-2" style="filter: drop-shadow(0px 0px 12px) drop-shadow(0px 0px 12px #fff);"></i>
		+7 (900) 589-52-22
	</a>
	</button>
	<!-- <button type="button" class="adv-hor_button text-2xl text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
		<a itemprop="url" href="tel: +79005895222" style="    filter: drop-shadow(0px 0px 1px  blue) drop-shadow(0px 0px 3px #fff);">
		<i class="fas fa-phone-alt mr-2" style="filter: invert(1);"></i>
		+7 (900) 589-52-22
	</a> -->
	</button>
</div>