<div class="block_text-img">
  <div class="item_text">
    <h2>
      <span class="highlight">4000 ПЕСЕН</span>
      В НАШЕМ КАРАОКЕ!
    </h2>
    
    <ul role="list">
      <li>
        <i class="fas fa-check-circle"></i>
        <span>4000 песен</span>
      </li>
      <li>
        <i class="fas fa-check-circle"></i>
        <span>Возможность выбрать песню онлайн на youtube</span>
      </li>
      <li>
        <i class="fas fa-check-circle"></i>
        <span>Идеальный отдых для дружной компании</span>
      </li>
    </ul>
    <button type="button">
      Забронировать
    </button>
  </div>
  <div class="item_img">
    <img src="/theme/img/block_karaoke.jpg" alt="" />
  </div>
</div>
