<div class="block_text-img">
  <div class="item_text">
    <h2>
      <span class="highlight">ЛЮБИШЬ СПОРТ?</span>
      У НАС РЕГУЛЯРНЫЕ СПОРТИВНЫЕ ТРАНСЛЯЦИИ!
    </h2>
    
    <ul role="list">
      <li>
        <i class="fas fa-check-circle"></i>
        <span> Футбол, хоккей, бокс, бои без правил и многое другое</span>
      </li>
      <li>
        <i class="fas fa-check-circle"></i>
        <span>Смотри с друзьями</span>
      </li>
      <li>
        <i class="fas fa-check-circle"></i>
        <span>Болей за любимые команды</span>
      </li>
      <li>
        <i class="fas fa-check-circle"></i>
        <span>Наслаждайся отдыхом</span>
      </li>
      
    </ul>
    <button type="button">
      Забронировать
    </button>
  </div>
  <div class="item_img order-first">
    <img src="/theme/img/block_sport.jpg" alt="" />
  </div>
</div>
