<div
  class="p-4 max-w-md bg-white rounded-lg border shadow-md sm:p-8 dark:bg-gray-800 dark:border-gray-700"
>
  <div class="flex justify-between items-center mb-4">
    <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white">
      САУНА:
    </h5>
   
  </div>
  <div class="flow-root">
    <ul role="list" class="price divide-y divide-gray-200 dark:divide-gray-700">
      <li class="py-1 sm:py-0">
        <div class="flex items-center space-x-4">
          <div class="flex-shrink-0">
            8.00-16.00
          </div>
          <div class="flex-1 min-w-0">
            <p
              class="text-sm font-medium text-gray-900 truncate dark:text-white"
            >
            Пн.-Чт.
            </p>
           
          </div>
          <div
            class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white"
          >
            800 руб.
          </div>
        </div>
      </li>
      <li class="py-1 sm:py-0">
        <div class="flex items-center space-x-4">
          <div class="flex-shrink-0">
            16.00-8.00
          </div>
          <div class="flex-1 min-w-0">
            <p
              class="text-sm font-medium text-gray-900 truncate dark:text-white"
            >
            Пн.-Чт.
            </p>
           
          </div>
          <div
            class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white"
          >
            1000 руб.
          </div>
        </div>
      </li>
      <li class="py-1 sm:py-0">
        <div class="flex items-center space-x-4">
          <div class="flex-shrink-0">
            8.00-16.00
          </div>
          <div class="flex-1 min-w-0">
            <p
              class="text-sm font-medium text-gray-900 truncate dark:text-white"
            >
            Пт.-Вс.
            </p>
           
          </div>
          <div
            class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white"
          >
            800 руб.
          </div>
        </div>
      </li>
      <li class="py-1 sm:py-0">
        <div class="flex items-center space-x-4">
          <div class="flex-shrink-0">
            16.00-8.00
          </div>
          <div class="flex-1 min-w-0">
            <p
              class="text-sm font-medium text-gray-900 truncate dark:text-white"
            >
            Пт.-Вс.
            </p>
           
          </div>
          <div
            class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white"
          >
            1100 руб.
          </div>
        </div>
      </li>
    </ul>
    <p>
      Шесть человек - свыше 100 руб. с человека в час.
    </p>
    <p>
      + веник (береза, дуб, липа) - 300 руб.
    </p>
    <p>
      + доп. уборка 300 руб.(перед бассейном обязательно душ)
    </p>

  </div>
</div>
