<nav class="pl-[6px]">
  <ul class="flex">
    <li>
      <a href="" class="inline-block font-medium  rounded-[3px] tracking-wider transition duration-500 flex justify-center items-center hover:bg-[#181b21] hover:bg-opacity-40 text-[14px] py-[4px] px-[8px] h-[32px]">
        <span class="m-[8px]">Блог</span>
      </a>
    </li>
    <li>
      <a href="" class="inline-block font-medium rounded-[3px] tracking-wider transition duration-500 flex justify-center items-center hover:bg-[#181b21] hover:bg-opacity-40 text-[14px] py-[4px] px-[8px] h-[32px]">
        <span class="m-[8px]">Позеные ресурсы</span>
      </a>
    </li>
    <li>
      <a href="" class="inline-block font-medium rounded-[3px] tracking-wider transition duration-500 flex justify-center items-center hover:bg-[#181b21] hover:bg-opacity-40 text-[14px] py-[4px] px-[8px] h-[32px]">
        <span class="m-[8px]">Всяка всячина</span>
      </a>
    </li>
    <li>
      <a href="" class="inline-block font-medium rounded-[3px] tracking-wider transition duration-500 flex justify-center items-center hover:bg-[#181b21] hover:bg-opacity-40 text-[14px] py-[4px] px-[8px] h-[32px]">
        <span class="m-[8px]">Проги</span>
      </a>
    </li>
  </ul>
</nav>