<head>
	<meta charset="utf-8" />
	<title>@@title</title>
	<!--[if IE
		]><meta http-equiv="X-UA-Compatible" content="IE = edge"
	/><![endif]-->
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<meta name="keywords" content="" />

	<link rel="apple-touch-icon" sizes="180x180" href="/theme/img/jusu/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/theme/img/jusu/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/theme/img/jusu/favicon/favicon-16x16.png">
	<!-- <link rel="manifest" href="/theme/img/jusu/favicon/site.webmanifest"> -->

	<link rel="stylesheet" type="text/css" href="/theme/css/awesomeall.min.css" />
	<link rel="stylesheet" type="text/css" href="/theme/css/style.min.css" />
	<link rel="stylesheet" type="text/css" href="/theme/css/swiper-bundle.min.css" />
	<!-- <link rel="stylesheet" href="https://unpkg.com/flowbite@1.4.7/dist/flowbite.min.css" /> -->

	<meta name="format-detection" content="telephone=no">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="SKYPE_TOOLBAR" content ="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
 
	
	<link
href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap"
rel="stylesheet" />
<!-- <link
rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/tw-elements.min.css" /> -->
 

</head>