<header class="header" role="banner">
	<div class="header__container">
		<div class="header__logo">
			<a href="#">
				<img src="/theme/img/jusu/logo.gif" alt="Logo" />
			</a>
		</div>
		<div class="header__menu-body menu">
			<nav class="menu__body">
				<ul class="menu__list has-submenu">
					<li class="menu__item"><a href="#" class="menu__link">Главная</a></li>
					<li class="menu__item has-submenu">
						<a href="#" class="menu__link">Услуги</a>
						<ul class="menu__sub-list submenu">
							<li class="menu__sub-item"><a href="#" class="menu__sub-link">Бухгалтерский учет</a></li>
							<li class="menu__sub-item has-submenu"><a href="#" class="menu__sub-link">Динамический логический учет long item subitem</a>
								<ul class="menu__sub-list submenu">
									<li class="menu__sub-item"><a href="#" class="menu__sub-link">Бухгалтерский учет</a></li>
									<li class="menu__sub-item"><a href="#" class="menu__sub-link">Динамический логический учет long item subitem</a></li>
									<li class="menu__sub-item"><a href="#" class="menu__sub-link">Кассовый учет</a></li>
									<li class="menu__sub-item"><a href="#" class="menu__sub-link">Детективная деятельность</a></li>
								</ul>
							</li>
							<li class="menu__sub-item"><a href="#" class="menu__sub-link">Кассовый учет</a></li>
							<li class="menu__sub-item"><a href="#" class="menu__sub-link">Детективная деятельность</a></li>
						</ul>
					</li>
					<li class="menu__item"><a href="#" class="menu__link">Блог</a></li>
					<li class="menu__item"><a href="#" class="menu__link">Контакты</a></li>
				</ul>
			</nav>
		</div>
		<div class="header__menu-icon menu__icon icon-menu">
			@@include('../../components/ui/_gamburger-flip.htm', {})
		</div>
    <div class="header__dark_mode">
      @@include('../../components/ui/_dark_mode.htm', {})
    </div>
    <div class="header__lang">
      @@include('../../components/ui/_lang_select.htm', {})
    </div>
	</div>
</header>

<div style="padding: 150px 20% 0 20% ;">
	<p>
		Таким образом, обязанность человека, изучающего писания ученых, если поиск истины - это его цель, заключается в том, чтобы сделать себя врагом всего того, что он читает, и, применив свой ум для понимания основ и ограничений сущности читаемого, напасть на него со всех сторон. Он также должен сомневаться в своей способности выполнения критического анализа, так что он может впасть в предубеждение или самооправдание" 
Ибн аль-Хайсам
	</p>
	Here's the HTML representation of the table:

    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px 12px;
            border: 1px solid #ddd;
            text-align: left;
        }
        th {
            background-color: #f4f4f4;
        }
    </style>
<!-- 
		<table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Event</th>
                <th>Buy-in</th>
                <th>Entries</th>
                <th>Prize Pool</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Sun 26 May</td>
                <td>21:05</td>
                <td>OSS #5 Mystery Bounty - $100,000 GTD [Day2]</td>
                <td>$2.50</td>
                <td>41176</td>
                <td>$100,000</td>
                <td>Finished</td>
            </tr>
            <tr>
                <td>Fri 31 May</td>
                <td>17:15</td>
                <td>PKO - $1,000 GTD</td>
                <td>$2.50</td>
                <td>438</td>
                <td>$1,000</td>
                <td>Finished</td>
            </tr>
            <tr>
                <td>Fri 31 May</td>
                <td>17:15</td>
                <td>$15 GTD Freezeout</td>
                <td>$0.11</td>
                <td>161</td>
                <td>$16.10</td>
                <td>Finished</td>
            </tr>
            <tr>
                <td>Fri 31 May</td>
                <td>17:45</td>
                <td>BIG10 - $500 GTD</td>
                <td>$1.10</td>
                <td>406</td>
                <td>$500</td>
                <td>Finished</td>
            </tr>
            <tr>
                <td>Fri 31 May</td>
                <td>18:30</td>
                <td>PKO Turbo - $50 GTD PLO8</td>
                <td>$0.55</td>
                <td>141</td>
                <td>$70.50</td>
                <td>Finished</td>
            </tr>
            <tr>
                <td>Fri 31 May</td>
                <td>19:00</td>
                <td>Super Bounty FT Pay - $250 GTD</td>
                <td>$1.10</td>
                <td>255</td>
                <td>$255</td>
                <td>Finished</td>
            </tr>
            <tr>
                <td>Fri 31 May</td>
                <td>19:30</td>
                <td>Super Bounty FT Pay - $30 GTD</td>
                <td>$0.11</td>
                <td>458</td>
                <td>$30.50</td>
                <td>Finished</td>
            </tr>
            <tr>
                <td>Fri 31 May</td>
                <td>20:05</td>
                <td>BIG10 - $2,000 GTD</td>
                <td>$2.50</td>
                <td>839</td>
                <td>$2,000</td>
                <td>Finished</td>
            </tr>
            <tr>
                <td>Fri 31 May</td>
                <td>20:45</td>
                <td>Turbo - $300 GTD 5Card PLO8</td>
                <td>$3.30</td>
                <td>119</td>
                <td>$357</td>
                <td>Finished</td>
            </tr>
            <tr>
                <td>Fri 31 May</td>
                <td>20:45</td>
                <td>PKO Turbo - $400 GTD</td>
                <td>$1.65</td>
                <td>267</td>
                <td>$400.50</td>
                <td>Finished</td>
            </tr>
            <tr>
                <td>Fri 31 May</td>
                <td>21:15</td>
                <td>$1,250 GTD</td>
                <td>$4.40</td>
                <td>237</td>
                <td>$1,250</td>
                <td>Finished</td>
            </tr>
            <tr>
                <td>Fri 31 May</td>
                <td>21:15</td>
                <td>$100 GTD</td>
                <td>$0.55</td>
                <td>196</td>
                <td>$100</td>
                <td>Finished</td>
            </tr>
            <tr>
                <td>Fri 31 May</td>
                <td>21:30</td>
                <td>$125 GTD Freezeout</td>
                <td>$1.10</td>
                <td>90</td>
                <td>$125</td>
                <td>Finished</td>
            </tr>
        </tbody>
    </table> -->
</div>