<button id="menu-icon">☰</button>
<div id="menu">
  <div class="menu-header">
    <input type="text" placeholder="Search...">
    <button id="close-menu">✖</button>
  </div>
  <ul class="menu-level active">
    <li>Главная</li>
    <li>Каталог
      <ul class="menu-level">
        <li><button class="back-button">←</button> Автомобили
          <ul class="menu-level">
            <li><button class="back-button">←</button> Легковые</li>
            <li>Грузовые</li>
            <li>Спецтехника</li>
          </ul>
        </li>
        <li>Мотоциклы
          <ul class="menu-level">
            <li><button class="back-button">←</button> Кроссовые</li>
            <li>Скутеры</li>
            <li>Квадроциклы</li>
          </ul>
        </li>
        <li>Велосипеды
          <ul class="menu-level">
            <li><button class="back-button">←</button> Дорожные</li>
            <li>Туристические</li>
            <li>Спортивные</li>
            <li>Детские</li>
          </ul>
        </li>
      </ul>
    </li>
    <li>Блог
      <ul class="menu-level">
        <li><button class="back-button">←</button> Компьютерные мысли
          <ul class="menu-level">
            <li><button class="back-button">←</button> Программирование</li>
            <li>Компьютерные игры</li>
          </ul>
        </li>
        <li>Полезные статьи</li>
      </ul>
    </li>
    <li>Контакты</li>
  </ul>
</div>