
<footer class="p-4 bg-[#1b2024] sm:p-6 dark:bg-gray-800">
	<div class="md:flex md:justify-around gap-x-3">
			<div class="hidden md:block md:flex-[1_0_auto] mb-6 md:mb-0">
					<a href="/" class="flex items-center">
							<img src="/theme/img/pautina_black.png" class="mr-3 h-[130px]" alt="FlowBite Logo">
					</a>
			</div>
			<div class="grid grid-cols-2 gap-12 sm:gap-6 sm:grid-cols-3">
					<div>
							<h3 class="">Дарим !!!</h3>
							<ul class="">
									<li class="mb-4">
											<span class="">При заказе 3х часов дарим 4ый в подарок! Скидки до 15% именинникам в течении недели! Найдёте дешевле — дадим скидку 20%.</span>
									</li>
							</ul>
					</div>
					<div>
							<h3 class="">Мы в соцсетях</h3>
							<ul class="">
									<li class="mb-4">
										<span class="">Постоянные конкурсы в социальных сетях! #АкцияДельфин</span>
									</li>
									<li>
										<ul class="relative flex flex-row justify-center gap-4">
											<li class="relative list-none flex justify-center items-center w-[60px] h-[60px] text-dolphinyellow cursor-pointer text-4xl">
												<a itemprop="url" href="https://api.whatsapp.com/send?phone=79005895222&amp;text=Здравствуйте, у меня вопрос" target="_blank">
													<i class="fab fa-whatsapp"></i>
												</a>
											</li>
											<li class="relative list-none flex justify-center items-center w-[60px] h-[60px] text-dolphinyellow cursor-pointer text-4xl">
												<a itemprop="url" href="https://vk.com/vipdolphin_33" target="_blank">
													<i class="fab fa-vk"></i>
												</a>
											</li>
											<li class="relative list-none flex justify-center items-center w-[60px] h-[60px] text-dolphinyellow cursor-pointer text-4xl">
												<a itemprop="url" href="https://www.instagram.com/vipsauna.delfin/" target="_blank"><i class="fab fa-instagram"></i>
												</a>
											</li>
										</ul>
									</li>
									
							</ul>
					</div>
					<div>
							<h3 class="">Оставить заявку</h3>
							<p class=" text-white">Мы Вам перезвоним!</p>
							<form class="space-y-6" action="#">
								<div>
									<label
										for="password"
										class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
										>Ваш номер телефона</label
									>
									<input
										type="password"
										name="password"
										id="password"
										placeholder="Номер телефона"
										class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
										required=""
									/>
								</div>
							 
								<button
									type="submit"
									class="w-full text-black uppercase bg-dolphinyellow hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
								>
									Отправить
								</button>
							</form>
					</div>
			</div>
	</div>
	<hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8">
	<div class="sm:flex sm:items-center sm:justify-around">
			<span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2022 Все права защищены
			</span>
			
	</div>
</footer>
