<header class="header">
	<div class="header__container">
		<div class="header__logo">
			<a href="#">
				<img src="/theme/img/jusu/logo.gif" alt="Logo" />
			</a>
		</div>
		<div class="header__menu menu">
			<div class="menu__body">
				<ul class="menu__list">
					<li class="menu__item"><a href="#" class="menu__link">Home1</a></li>
					<li class="menu__item"><a href="#" class="menu__link">About</a></li>
					<li class="menu__item"><a href="#" class="menu__link">Services</a></li>
					<li class="menu__item"><a href="#" class="menu__link">Portfolio</a></li>
					<li class="menu__item"><a href="#" class="menu__link">Blog</a></li>
					<li class="menu__item"><a href="#" class="menu__link">Contact</a></li>
				</ul>
			</div>
      <div class="menu__icon icon-menu">
        @@include('../components/ui/_gamburger-flip.htm', {})
      </div>
		</div>
    <div class="header__dark_mode">
      @@include('../components/ui/_dark_mode.htm', {})
    </div>
    <div class="header__lang">
      @@include('../components/ui/_lang_select.htm', {})
    </div>
	</div>
</header>